*,
*::after,
*::before {
    box-sizing: border-box;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}


.return-button{
    display: block;
    margin-left: 5vw;
    text-align: center;
    width: 80px;
    padding: 12px;
    text-decoration: none;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.return-button:hover{
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
}