.navbar {
    position: relative;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    background-color: rgb(6, 6, 96);
    height: 8vh;
}

.navbar .nav-links ul {
    display: flex;
    align-items: center;
}

.navbar .nav-links ul li {
    display: flex;
    list-style: none;
    margin: 0 1rem;
}

.langues {
    background-color: #fff;
    color: black;
    border-radius: 100%;
    padding: 1rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border {
    border: 1px solid rgb(255, 255, 255);
    padding: 0.5rem 1rem;
}

.border:hover {
    border: 1px solid rgb(0, 0, 0);
    padding: 0.5rem 1rem;
    background-color: #fff;
    color: black;
}

.black {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
}

.logo {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Media query pour les écrans de moins de 780px */
@media screen and (max-width: 780px) {
    .navbar {
        flex-direction: column; /* Empiler les éléments verticalement */
        height: auto; /* Ajuster la hauteur */
        padding: 2rem; /* Moins de padding */
    }

    /* Aligner les liens de manière verticale et les espacer */
    .navbar .nav-links ul {
        flex-direction: column; /* Empiler les liens verticalement */
        align-items: flex-start; /* Aligner à gauche */
        width: 100%; /* S'assurer que la liste prend toute la largeur */
        padding: 0;
        margin-top: 1rem;
    }

    .navbar .nav-links ul li {
        margin: 0.5rem 0; /* Espacement vertical */
    }

    /* Ajuster les éléments comme le logo et les langues */
    .logo {
        margin-bottom: 1rem;
    }

    .langues {
        margin-top: 1rem;
    }

    /* Ajuster la taille de la navbar sur petit écran */
    .langues, .border {
        padding: 0.5rem;
        font-size: 1rem;
    }
}
