*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow: hidden;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    }

    #btnVideo{
    font-size: 1.5rem;
    background: 0;
    border: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    }



.btnSon{
    background-color: #f1f1f1;
    color: black;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 85%;
    left: 10%;
    transform: translate(-20%, 20%);

}

.btnSon:hover {
    background-color: rgb(32, 32, 32);
    color: white;
}


.blocText{
    position: absolute;
}
.text{
    position: absolute;
    color: white;
}


.splitting .char {
    animation: slide-in 1s cubic-bezier(.5, 0, .5, 1) both;
    animation-delay: calc(6ms * var(--char-index));
  }
  
  @keyframes slide-in {
    from {
      transform: translateY(-0.5em)  scale(0.5);
      opacity: 0;
    }
  }

/* mobile */
@media (max-width: 768px) {
    .text {
        font-size: 1.5rem;
        color: whitesmoke;
    }
}


/* tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .text {
        font-size: 1.2rem;
        color: white    ;
    }
    .center{
        display: flex;
        text-align: center;
    }
    img{
        position: absolute;
    }
    .einstein{
        width: 5rem;
        position: absolute;
        left: 12%;
        right: 15%;
    }
    #btnVideo{
        color: rgb(255, 255, 255);
        position: absolute;

    }
    .mover {
        offset-rotate: 0deg;
        offset-rotate: auto;
      }
      
      
      .mover {
        offset-path: path("M18.45,58.46s52.87-70.07,101.25-.75,101.75-6.23,101.75-6.23S246.38,5.59,165.33,9.08s-15,71.57-94.51,74.56S18.45,58.46,18.45,58.46Z");
        animation: move 3s linear infinite;
      }
      @keyframes move {
        to { 
          offset-distance: 100%;
        }
      }
      
      
      .mover {
        width: 71px;
        height: 54px;
        position: absolute;
        left: 30%;
        top: 100px;
      }
}

/* desktop */
@media (min-width: 1024px) {
    .blocText{
        width: 30rem;
        background-color: #9d9d9d4d ;
        top:20%;
        right: 4%;
        border-radius: 15px;
        padding: 2rem 1rem ;
        backdrop-filter: blur(5px);
    }
    .text{
        color: white;
        font-size: 1.2rem;
    }
    #btnVideo{
        color: rgb(255, 255, 255);
        position: absolute;

    }
    .center{
        display: flex;
        text-align: center;
    }
    .einstein{
        width: 15rem;
        position: absolute;
        left: 40%;
        bottom: 20%;
    }
    .mover {
        offset-rotate: reverse;
        offset-rotate: 0deg;
      }
      
      
    .mover {
        offset-path: path("M18.45,58.46s52.87-70.07,101.25-.75,101.75-6.23,101.75-6.23S246.38,5.59,165.33,9.08s-15,71.57-94.51,74.56S18.45,58.46,18.45,58.46Z");
        animation: move 3s linear infinite;
    }
    @keyframes move {
        to { 
            offset-distance: 100%;
        }
    }
    
    
    .mover {
        position: absolute;
        left: 50%;
        top: 50%;
    }

}