*,
*::after,
*::before {
    box-sizing: border-box;
}


#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.3;
    
    }
    
    h1, h2, #btnVideo{
    
    color: white;
    
    font-family: Trebuchet MS;
    
    font-weight: bold;
    
    text-align: center;
    
    }
    
    h1 {
    font-size: 6rem;
    margin-top: 30vh;
    }
    
    h2 { font-size: 3rem; }
    
    #btnVideo{
    font-size: 1.5rem;
    background: 0;
    border: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    }



.btnSon{
    background-color: #f1f1f1;
    color: black;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 85%;
    left: 10%;
    transform: translate(-20%, 20%);

}

.btnSon:hover {
    background-color: rgb(32, 32, 32);
    color: white;
}


.canvas{
    margin: 0;
    overflow: hidden;
    background: black;
}
canvas {
    display: block;
}
