*,
*::after,
*::before {
    box-sizing: border-box;
}
body{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.blocText{
    position: absolute;
}
.text{
    position: absolute;
}

.splitting .char {
  animation: slide-in 1s cubic-bezier(.5, 0, .5, 1) both;
  animation-delay: calc(6ms * var(--char-index));
}

@keyframes slide-in {
  from {
    transform: translateY(-1em)  scale(0.5);
    opacity: 0;
  }
}


/* mobile */
@media (max-width: 768px) {
    .text {
        font-size: 1.5rem;
    }
    .blocText{
        width: 22rem;
        background-color: #9d9d9d27 ;
        top:20%;
        right: 5%;
        border-radius: 15px;
        padding: 2rem 1rem ;
        backdrop-filter: blur(5px);
    }
    p {
        font-size: 1.2rem;
        color: rgb(0, 0, 0);
    }
}


/* tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .text {
        font-size: 2rem;
    }
    .blocText{
        width: 25rem;
        background-color: #9d9d9d27 ;
        top:20%;
        right: 4%;
        border-radius: 15px;
        padding: 2rem 1rem ;
        backdrop-filter: blur(5px);
    }
    p {
        font-size: 1.2rem;
        color: rgb(0, 0, 0);
    }
}

/* desktop */
@media (min-width: 1024px) {
    .blocText{
        width: 30rem;
        background-color: #9d9d9d27 ;
        top:20%;
        right: 4%;
        border-radius: 15px;
        padding: 2rem 1rem ;
        backdrop-filter: blur(5px);
    }
    p {
        font-size: 1.2rem;
        color: rgb(0, 0, 0);
    }
}