*,
*::after,
*::before {
    box-sizing: border-box;
}


.btnSon{
    background-color: #f1f1f1;
    color: black;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 85%;
    left: 10%;
    transform: translate(-20%, 20%);

}

.btnSon:hover {
    background-color: rgb(32, 32, 32);
    color: white;
}



.btnRetour{
    background-color: #f1f1f1;
    color: black;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 10%;
    left: 85%;
    transform: translate(-20%, -20%);
}
.btnRetour a{
    text-decoration: none;
    color: black;
}

.btnRetour:hover {
    a{
        color: white;
    }
    background-color: rgb(32, 32, 32);
    color: white;
}
