
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 200vh; 
    align-items: center;
    justify-content: center;
}

/* .container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
} */
/* 
.zoom-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

#play.visible {
    opacity: 1;
}

#play {
    position: absolute;
    top: 25%; 
    right: 15%;
    transform: translate(-80%, -50%);
    padding: 1rem 2rem;
    background: rgb(244, 108, 108);
    text-decoration: none;
    color: white;
    border: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    animation-delay: 5s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
}
/* faitre clignoter le btn  --> pas fonctionnel faire des recherches pour savoir quel est le pb*/
@keyframes clignoter {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

header{
    position: absolute;
}


.btnSon{
    background-color: #f1f1f1;
    color: black;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 85%;
    left: 10%;
    transform: translate(-20%, 20%);

}

.btnSon:hover {
    background-color: rgb(32, 32, 32);
    color: white;
}


.btnRetour{
    background-color: #f1f1f1;
    color: black;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 10%;
    left: 85%;
    transform: translate(-20%, -20%);
}
.btnRetour a{
    text-decoration: none;
    color: black;
}

.btnRetour:hover {
    a{
        color: white;
    }
    background-color: rgb(32, 32, 32);
    color: white;
}



/* vidéo*/
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 0;

}


/* téléphone  */



@media screen and (min-width: 768px) {
    #play {
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    }
    
}

/* tablet  */
@media screen and (min-width: 1024px) {
    #play {
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    }
}

