
.btn-update, .add-link {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #333;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    width: 10vw;
    min-width: 150px;
    margin: 0 auto;
    cursor: pointer;
}

.btn-delete{
    background-color: transparent;
    border: none;
}
