*,
*::after,
*::before {
    box-sizing: border-box;
}



/* mobile */
@media (max-width: 767px) {
    footer{
        margin-left: 2rem;
    
    }
    .spaceFooter{
        margin-bottom: 2rem;
    }

}

/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    footer{
        margin: 2rem;
    
    }

    .spaceFooter{
        margin-bottom: 2rem;
    }
}

/* desktop */
@media (min-width: 1024px) {
    footer{
        margin: 2rem;
    
    }
    .flex{
        display: flex;
        justify-content: space-between;
    }
}