*,
*::after,
*::before {
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}
.icone{
    width: 2rem;
}
.grid{
    display: grid;

}


/* mobile */
@media (max-width: 767px) {
    footer{
        margin-left: 2rem;
    
    }
    .spaceFooter{
        margin-bottom: 2rem;
    }
    .flex{
        display:grid;
    }

}

/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    footer{
        margin: 2rem;
    
    }

    .spaceFooter{
        margin-bottom: 2rem;
    }
    .flex{
        display:grid;
    }
}

/* desktop */
@media (min-width: 1024px) {
    footer{
        margin: 2rem;
        color: white;
    
    }
    .flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}